<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SugarFlow - Graphs</title>

    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/nv.d3.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div class="row-fluid">
      <div class="span12" id="insulin">
        <svg></svg>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12" id="scatter">
        <svg></svg>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12" id="line">
        <svg></svg>
      </div>
    </div>

    <script src="js/d3.v2.js"></script>
    <script src="js/nv.d3.min.js"></script>
    <script>
      nv.addGraph(function() {
        var chart = nv.models.scatterChart()
          .showDistX(true)
          .showDistY(true)
          .useVoronoi(true)
          .color(d3.scale.category10().range());

        chart.xAxis.tickFormat(function(d) {
          return d3.time.format('%A %d/%m/%y %H:%M')(new Date(d * 1000))
        })
        chart.yAxis.tickFormat(d3.format('.i'))

        d3.select('#insulin svg')
          .datum(insulin())
          .transition().duration(500)
          .call(chart);

        nv.utils.windowResize(chart.update);

        chart.dispatch.on('stateChange', function(e) {
          nv.log('New State:', JSON.stringify(e));
        });

        return chart;
      });
      nv.addGraph(function() {
        var chart = nv.models.scatterChart()
          .showDistX(true)
          .showDistY(true)
          .useVoronoi(true)
          .color(d3.scale.category10().range());

        chart.xAxis.tickFormat(function(d) {
          return d3.time.format('%A %d/%m/%y %H:%M')(new Date(d * 1000))
        })
        chart.yAxis.tickFormat(d3.format('.i'))

        d3.select('#scatter svg')
          .datum(data())
          .transition().duration(500)
          .call(chart);

        nv.utils.windowResize(chart.update);

        chart.dispatch.on('stateChange', function(e) {
          nv.log('New State:', JSON.stringify(e));
        });

        return chart;
      });

      nv.addGraph(function() {
        var chart = nv.models.lineWithFocusChart();

        chart.xAxis.tickFormat(function(d) {
          return d3.time.format('%A %d/%m/%y %H:%M')(new Date(d * 1000))
        })
        chart.x2Axis.tickFormat(function(d) {
          return d3.time.format('%A %d/%m/%y %H:%M')(new Date(d * 1000))
        })

        chart.yAxis
            .tickFormat(d3.format('.i'));
        chart.y2Axis
            .tickFormat(d3.format('.i'));

        d3.select('#line svg')
            .datum(data())
          .transition().duration(500)
            .call(chart);

        nv.utils.windowResize(chart.update);

        return chart;
      });

      function data() {
        return [
          {
          "key": "Blood sugar",
          "values": [
            {
            "x": 1368300600,
            "y": 260
          },
          {
            "x": 1368342600,
            "y": 160
          },
          {
            "x": 1368361620,
            "y": 103
          },
          {
            "x": 1368385200,
            "y": 150
          },
          {
            "x": 1368411600,
            "y": 43
          },
          {
            "x": 1368428400,
            "y": 180
          },
          {
            "x": 1368471600,
            "y": 177
          },
          {
            "x": 1368506160,
            "y": 58
          },
          {
            "x": 1368556800,
            "y": 255
          },
          {
            "x": 1368589500,
            "y": 48
          },
          {
            "x": 1368598500,
            "y": 235
          },
          {
            "x": 1368675000,
            "y": 38
          },
          {
            "x": 1368690600,
            "y": 280
          },
          {
            "x": 1368734400,
            "y": 211
          },
          {
            "x": 1368775200,
            "y": 285
          },
          {
            "x": 1368864000,
            "y": 289
          },
          {
            "x": 1368883800,
            "y": 185
          },
          {
            "x": 1368948480,
            "y": 340
          },
          {
            "x": 1368988200,
            "y": 324
          },
          {
            "x": 1369038600,
            "y": 185
          },
          {
            "x": 1369053000,
            "y": 190
          },
          {
            "x": 1369076400,
            "y": 90
          },
          {
            "x": 1369110600,
            "y": 130
          },
          {
            "x": 1369116000,
            "y": 285
          },
          {
            "x": 1369162800,
            "y": 130
          },
          {
            "x": 1369202400,
            "y": 164
          },
          {
            "x": 1369250040,
            "y": 255
          },
          {
            "x": 1369271100,
            "y": 60
          },
          {
            "x": 1369291620,
            "y": 241
          },
          {
            "x": 1369380120,
            "y": 317
          },
          {
            "x": 1369423800,
            "y": 280
          },
          {
            "x": 1369445100,
            "y": 57
          },
          {
            "x": 1369468260,
            "y": 264
          },
          {
            "x": 1369480620,
            "y": 257
          },
          {
            "x": 1369492200,
            "y": 52
          },
          {
            "x": 1369508400,
            "y": 152
          },
          {
            "x": 1369557000,
            "y": 337
          },
          {
            "x": 1369566780,
            "y": 281
          },
          {
            "x": 1369639200,
            "y": 257
          },
          {
            "x": 1369658040,
            "y": 131
          },
          {
            "x": 1369680360,
            "y": 167
          },
          {
            "x": 1369716840,
            "y": 248
          },
          {
            "x": 1369721820,
            "y": 249
          },
          {
            "x": 1369734060,
            "y": 58
          },
          {
            "x": 1369765620,
            "y": 303
          },
          {
            "x": 1369814160,
            "y": 264
          },
          {
            "x": 1369825440,
            "y": 207
          },
          {
            "x": 1369857660,
            "y": 234
          }
          ]
        }
        ]
      };

      function insulin() {
        return [
          {
          "key": "Novorapid",
          "color": "orange",
          "values": [
            {
            "x": 1368301500,
            "y": 11
            },
            {
              "x": 1368345060,
              "y": 8
            },
            {
              "x": 1368361620,
              "y": 7
            },
            {
              "x": 1368386100,
              "y": 8
            },
            {
              "x": 1368428400,
              "y": 9
            },
            {
              "x": 1368471600,
              "y": 9
            },
            {
              "x": 1368506760,
              "y": 6
            },
            {
              "x": 1368530100,
              "y": 8
            },
            {
              "x": 1368556800,
              "y": 11
            },
            {
              "x": 1368600900,
              "y": 11
            },
            {
              "x": 1368690600,
              "y": 12
            },
            {
              "x": 1368734400,
              "y": 11
            },
            {
              "x": 1368778800,
              "y": 10
            },
            {
              "x": 1368884700,
              "y": 8
            },
            {
              "x": 1368948600,
              "y": 13
            },
            {
              "x": 1368988200,
              "y": 12
            },
            {
              "x": 1369039500,
              "y": 9
            },
            {
              "x": 1369053900,
              "y": 9
            },
            {
              "x": 1369076400,
              "y": 7
            },
            {
              "x": 1369116000,
              "y": 11
            },
            {
              "x": 1369162800,
              "y": 8
            },
            {
              "x": 1369206000,
              "y": 8
            },
            {
              "x": 1369225800,
              "y": 8
            },
            {
              "x": 1369250100,
              "y": 11
            },
            {
              "x": 1369292400,
              "y": 10
            },
            {
              "x": 1369380300,
              "y": 11
            },
            {
              "x": 1369380300,
              "y": 12
            },
            {
              "x": 1369468800,
              "y": 11
            },
            {
              "x": 1369481340,
              "y": 11
            },
            {
              "x": 1369509300,
              "y": 8
            },
            {
              "x": 1369557000,
              "y": 12
            },
            {
              "x": 1369566900,
              "y": 11
            },
            {
              "x": 1369639500,
              "y": 11
            },
            {
              "x": 1369639500,
              "y": 7
            },
            {
              "x": 1369680600,
              "y": 9
            },
            {
              "x": 1369717200,
              "y": 3
            },
            {
              "x": 1369722600,
              "y": 10
            },
            {
              "x": 1369738800,
              "y": 8
            },
            {
              "x": 1369765800,
              "y": 12
            },
            {
              "x": 1369814400,
              "y": 11
            },
            {
              "x": 1369825500,
              "y": 10
            },
            {
              "x": 1369857900,
              "y": 11
            }
          ]
        },
        {
          "key": "Levemir",
          "color": "green",
          "values": [
            {
            "x": 1368300600,
            "y": 12
            },
            {
              "x": 1368342900,
              "y": 28
            },
            {
              "x": 1368385200,
              "y": 12
            },
            {
              "x": 1368428400,
              "y": 28
            },
            {
              "x": 1368471600,
              "y": 10
            },
            {
              "x": 1368506640,
              "y": 28
            },
            {
              "x": 1368556800,
              "y": 10
            },
            {
              "x": 1368600900,
              "y": 28
            },
            {
              "x": 1368690600,
              "y": 24
            },
            {
              "x": 1368734400,
              "y": 8
            },
            {
              "x": 1368775200,
              "y": 24
            },
            {
              "x": 1368864000,
              "y": 24
            },
            {
              "x": 1368948600,
              "y": 24
            },
            {
              "x": 1368988200,
              "y": 8
            },
            {
              "x": 1369039500,
              "y": 24
            },
            {
              "x": 1369076400,
              "y": 8
            },
            {
              "x": 1369116000,
              "y": 24
            },
            {
              "x": 1369162800,
              "y": 8
            },
            {
              "x": 1369206000,
              "y": 24
            },
            {
              "x": 1369250100,
              "y": 8
            },
            {
              "x": 1369292400,
              "y": 24
            },
            {
              "x": 1369380300,
              "y": 24
            },
            {
              "x": 1369380300,
              "y": 8
            },
            {
              "x": 1369469400,
              "y": 24
            },
            {
              "x": 1369509300,
              "y": 8
            },
            {
              "x": 1369557000,
              "y": 24
            },
            {
              "x": 1369639500,
              "y": 24
            },
            {
              "x": 1369680600,
              "y": 8
            },
            {
              "x": 1369722600,
              "y": 24
            },
            {
              "x": 1369765800,
              "y": 8
            },
            {
              "x": 1369814400,
              "y": 24
            },
            {
              "x": 1369857900,
              "y": 8
            }
            ]
          }
        ]
      };
    </script>
  </body>
</html>
