<%= erb :menu %>

<div class="pure-g-r">
  <div class="pure-u">
    <form class="pure-form pure-form-aligned" method="POST" action="/record">
      <fieldset>
        <legend><h1>Add new record</h1></legend>
        <div class="pure-control-group">
          <label for="name">Type</label>
          <select id="type" name="type">
            <option value="insulin">Insulin</option>
            <option value="blood sugar">Blood sugar</option>
          </select>
        </div>

        <div class="pure-control-group">
          <label for="time">Time</label>
          <input id="time" name="time" type="text" placeholder="2013-06-10 10:30">
        </div>

        <div class="pure-control-group">
          <label for="log">Log</label>
          <input id="log" name="log" type="text" placeholder="120">
        </div>

        <div class="pure-control-group">
          <label for="note">Note</label>
          <textarea id="note" name="note"></textarea>
        </div>

        <div class="pure-controls">
          <button type="submit" class="pure-button notice">Save to Dropbox</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
